<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render "shared/navbar" %>

    <% flash.each do |type, message| %>
	<div class="alert alert-<%= type %> alert-dismissible fade in" role="alert">
	    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <%= message %>
	</div>
    <% end %>
    
    <div class="container">
	<%= yield %>
    </div>

</body>
</html>
